BOT_TOKEN=
# Optional overrides:
# DOCKER_IMAGE=ghcr.io/djsjsnsjcjx/3xui_amir:latest
# PROJECT_NAME=hermes-xui
# PANELS=NL:NL,US_V:US-VA,SG:SG,NL_MT:NL-MT
# MAIN_PANEL=NL
# XUI_USERNAME=admin
# XUI_PASSWORD=admin
# INBOUND_PORT=8080
# INBOUND_PATH=/cdn
